* {
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #0057a8;
    color: #e7e9e7;
}

footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #0057a8;
}

section {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    padding: 10px;
    margin: 10px;
}

h1 {
    color: #fdfffd;
    padding: 8px;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

h4 {
    text-align: center;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

ul {
    padding: 20px;
    padding-bottom: 0;
    text-align: left;
    font-family: "Gill Sans", sans-serif;
}

.container {
    align-items: center;
    text-align: center;
    border-style: groove;
    border-width: 2px;
    padding: 0;
    margin: 10px;
    font-family: "Gill Sans", sans-serif;
}

.heading-isi {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0057a8;
    color: #fdfffd;
    font-family: "Gill Sans", sans-serif;
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
}

.konten {
    margin: 20px;
    margin-top: 6px;
    border-style: solid;
    border-width: 2px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
  
.button-luas {
    background-color: #003b7a;
    color: #fdfffd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.button-luas:hover {
    background-color: #0071e9;
}

.button-keliling {
    background-color: #018a0c;
    color: #fdfffd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.button-keliling:hover {
    background-color: #00eb08;
}

.resetButton {
    background-color: #cf2d3d;
    color: #fdfffd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px;
    margin-top: 20px;
    margin-right: 15px;
    width: auto;
    height: auto;
}

.resetButton:hover {
    background-color: #e9041b;
}

#kalkulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    color: #000;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 4px;
}